{% extends "base.html.twig" %}

{% block title %}
	Création d'une catégorie
{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    	{{ form_start(formView, {'attr': { 'novalidate': 'novalidate'}}) }}

	<div class="row">
		<div class="col">
            <div class="form-group">
                {{ form_row(formView.name) }}
            </div>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Enregistrer
	</button>

	{{ form_end(formView) }}
{% endblock %}
